/* usage: 
div
{
  ...
  @include clearfix;
}
*/

@mixin clearfix {
    &:after {
        clear: both;
        display: table;
        content: '';
    }
}

@mixin perf {
    transform: translateZ(0);
}

@mixin title {
    font-weight: bold;
    margin-top: 20rem;
    &:first-child {
        margin-top: 0;
    }
}

@mixin subtitle {
    font-weight: bold;
    margin-top: 10rem;
    &:first-child {
        margin-top: 0;
    }
}

@mixin valign {
    text-align: center;
    white-space: nowrap;
    font-size: 0;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    & > * {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        font-size: $font-size;
        white-space: normal;
    }
}

/* you also can include subclasses */
@mixin content {
    h2 {
        font-size: 20rem;
        line-height: 20rem;
        margin-bottom: 15rem;
    }
    strong {
        font-weight: bold;
    }
    p {
        margin-bottom: 20rem;
    }
    *:last-child {
        margin-bottom: 0;
    }
}

/* and nested content */
@mixin responsive-big {
    @media screen and (max-width: $breakpoint-big) {
        @content;
    }
}

@mixin responsive-small {
    @media screen and (max-width: $breakpoint-small) {
        @content;
    }
}
