.is-hidden {
    display: none;
}

.is-highlighted {
    color: $color-orangelight;
    font-weight: 500;
}

.is-disabled, [disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
    background-color: $color-grey;
}

[disabled][title] {
    pointer-events: auto;
}

.is-fullwidth {
    width: 100%;
}

.is-strong {
    font-weight: bold;
}

.owl > * + * {
    margin-top: 20rem;
}
// if you want to exclude <input type="hidden" /> fields
.owl > input[type="hidden"] + *:not(input[type="hidden"]) {
    margin-top:0;
}
.owl > *:not(input[type="hidden"]) + input[type="hidden"] + *:not(input[type="hidden"]),
.owl > *:not(input[type="hidden"]) + input[type="hidden"] + input[type="hidden"] + *:not(input[type="hidden"]),
.owl > *:not(input[type="hidden"]) + input[type="hidden"] + input[type="hidden"] + input[type="hidden"] + *:not(input[type="hidden"]),
.owl > *:not(input[type="hidden"]) + input[type="hidden"] + input[type="hidden"] + input[type="hidden"] + input[type="hidden"] + *:not(input[type="hidden"]),
.owl > *:not(input[type="hidden"]) + input[type="hidden"] + input[type="hidden"] + input[type="hidden"] + input[type="hidden"] + input[type="hidden"] + *:not(input[type="hidden"]) {
    margin-top: 20rem;
}