*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: $color-white;
}

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
}

html {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

html {
    /* overflow-y gets applied to html (even if isset on body); so the correct way of doing it is directly on html */
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100%;
}

/* iphone/ipad prevent overflow-x */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 768px) {
    html {
        overflow-x: hidden;
    }
}

html,
body,
button,
input,
select,
textarea {
    color: $color-grey;
    font-weight: normal;
    line-height: 1.4;
}

textarea {
    overflow: auto;
}

input,
textarea {
    border-radius: 0;
    border: 0;
}

*:focus:not(:focus-visible) {
    outline: none;
}
*:focus-visible {
    outline: 4px dashed $color-greenlight;
    outline-offset: 3px;
}

::-moz-focus-inner {
    border: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px $color-white inset !important;
    -webkit-text-fill-color: $color-grey !important;
}

input[type='submit'],
input[type='text'],
input[type='email'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
textarea,
select {
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    border:0;
}

input {
    min-width:0;
}

select {
    background-color: $color-white;
}

select::-ms-expand {
    display: none;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

small {
    display: block;
    font-size: $font-size-small;
}

pre {
    overflow: auto;
}

figure {
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
}

::selection {
    background: $color-greenlight;
    color: $color-white;
}

::-moz-selection {
    background: $color-greenlight;
    color: $color-white;
}

::-webkit-selection {
    background: $color-greenlight;
    color: $color-white;
}

::placeholder {
    color: $color-grey;
    opacity: 1;
}

::-ms-input-placeholder {
    color: $color-grey;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

/* hide special safari icons in input fields */
::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button,
::-webkit-caps-lock-indicator {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 0;
}
