/_public/*
!/_public/.gitkeep
/_build/
/node_modules/
/vendor/
/logs/
/usage/
/_js/_build/
/_tests/_build/
.idea/
__image_snapshots__
/.env
*.css.map
*.js.map
*.tmp-browserify*
/composer.lock
#uncomment this, we put this in git because of dependabot
#/package-lock.json