html.header-compact {
    #header {
        @apply md:h-28;

        .header-container-left {
            @apply md:h-28;
        }

        .header-container-right {
            @apply md:h-28;
        }

        .header-top {
            @apply md:pt-2 md:pb-2 md:h-14;
        }

        .header-bottom {
            @apply md:h-14;
        }

        .menu-item.level-0 {
            @apply md:h-14;

            > a {
                @apply md:py-4;
            }
        }

        + #main {
            @apply md:mt-28;
        }

        &.header-banner-active {
            + #main {
                @apply md:mt-36 md:pt-2;
            }
        }
    }
}

#header-overlay {
    @apply hidden md:block fixed top-0 left-0 w-full h-full z-20 bg-white opacity-0 pointer-events-none transition duration-300;

    &.show {
        @apply opacity-40;
    }
}

#header {
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);

    .lng-link {
        @apply relative;

        &:not(:last-child) {
            @apply mr-3.5;
        }

        &:not(:first-child) {
            &::before {
                content: '|';
                @apply absolute top-1.5 -left-3.5 pointer-events-none text-gray-550 -mt-1.5 mx-1.5;
            }
        }
    }

    &.header-banner-active {
        + #main {
            @apply md:mt-44 md:pt-2;
        }
    }

    .header-top-right-links {
        &.hide {
            @apply md:opacity-0 md:translate-x-32 md:invisible;
        }

        @include media-max('md') {
            .lng-link {
                position: relative;
                display: none;
            }
        }
    }

    .nav-toggle {
        .icon-bar {
            height: 2px;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                margin-top: -1px;
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }

        &.active {
            .icon-bar {
                &:nth-child(1) {
                    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
                    @apply -rotate-45 top-1/2;
                }

                &:nth-child(2) {
                    @apply opacity-0 invisible;
                }

                &:nth-child(3) {
                    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
                    @apply rotate-45 top-1/2;
                }
            }
        }
    }

    #nav-main {
        @include media-max('md') {
            @apply h-0;

            &.active {
                height: calc(100vh - 4rem);
            }
        }

        .current-menu-item,
        .current-menu-parent {
            > a {
                @apply no-underline md:bg-tertiary-light md:text-primary-light opacity-100;

                span {
                    @apply text-secondary-light md:text-primary-light;
                }
            }
        }

        .menu-item {
            &.hover,
            &:hover {
                .nav-main-link {
                    @apply no-underline md:bg-tertiary-light text-secondary-light md:text-primary-light;
                }
            }

            &.menu-item-has-children {
                &.hover,
                &:hover {
                    .dropdown-menu-container {
                        @apply md:opacity-100 md:visible md:ml-0 md:-translate-y-0;
                    }
                }
            }
        }
    }

    #searchform-header {
        &.show {
            @apply translate-x-0 opacity-100 pointer-events-auto;
        }

        @include media-max('md') {
            @apply translate-x-0 opacity-100 pointer-events-auto;
        }
    }

    .search-toggle {
        .icon-close {
            @apply hidden;
        }

        &.active {
            .icon-search {
                @apply hidden;
            }

            .icon-close {
                @apply block;
            }
        }
    }
}
