/* base */
@layer base {
    %h1,
    .h1 {
        hyphens: none;
        line-height: 1.2;
        @apply font-headline text-40 font-bold uppercase;

        @include media-max('md') {
            @apply text-32;
        }

        @include media-max('sm') {
            hyphens: auto;
        }
    }

    .h2,
    %h2 {
        hyphens: none;
        line-height: 1.2;
        @apply font-headline text-36 font-bold;

        @include media-max('md') {
            @apply text-26;
        }

        @include media-max('sm') {
            hyphens: auto;
        }
    }

    .h3,
    %h3 {
        hyphens: none;
        line-height: 1.2;
        @apply font-headline text-28 font-bold;

        @include media-max('md') {
            @apply text-22;
        }

        @include media-max('sm') {
            hyphens: auto;
        }
    }

    .h4,
    %h4 {
        hyphens: none;
        line-height: 1.2;
        @apply font-headline text-24 font-bold;

        @include media-max('md') {
            @apply text-20;
        }

        @include media-max('sm') {
            hyphens: auto;
        }
    }

    .h5,
    %h5 {
        hyphens: none;
        line-height: 1.2;
        @apply font-headline text-22 font-bold;

        @include media-max('md') {
            @apply text-20;
        }

        @include media-max('sm') {
            hyphens: auto;
        }
    }

    .h6,
    %h6 {
        hyphens: none;
        line-height: 1.2;
        @apply font-headline text-18 font-bold;

        @include media-max('md') {
            @apply text-20;
        }

        @include media-max('sm') {
            hyphens: auto;
        }
    }

    .hr,
    %hr {
        @apply border-gray-200 my-12;
    }

    .ratio {
        @apply relative w-full h-0;

        &--16-9 {
            padding-bottom: 56.25%;
        }

        &--3-4 {
            padding-bottom: 133.33334%;
        }

        &--4-3 {
            padding-bottom: 75%;
        }

        &--2-1 {
            padding-bottom: 50%;
        }

        &--1-1 {
            padding-bottom: 100%;
        }

        img,
        .video,
        iframe {
            @apply absolute top-0 left-0 w-full h-full object-cover;
        }
    }

    .grayscale {
        filter: grayscale(100%);
    }

    .grayscale-none {
        filter: grayscale(0);
    }

    .backdrop-blur-5 {
        backdrop-filter: blur(5px);
    }

    .backdrop-blur-10 {
        backdrop-filter: blur(10px);
    }

    .backdrop-blur-15 {
        backdrop-filter: blur(15px);
    }

    .mix-blend-mode-difference {
        mix-blend-mode: difference;
    }

    .mix-blend-mode-normal {
        mix-blend-mode: normal;
    }

    .w-auto {
        width: auto;
    }

    .w-xl {
        width: 30rem;
    }

    .h-lg {
        height: 27rem;
    }

    .h-xl {
        height: 30rem;
    }

    .h-2xl {
        height: 35rem;
    }

    .h-3xl {
        height: 40rem;
    }

    .h-4xl {
        height: 45rem;
    }

    .min-height-lg {
        min-height: 20rem;
    }

    .min-height-xl {
        min-height: 30rem;
    }

    .min-height-2xl {
        min-height: 35rem;
    }

    .min-height-3xl {
        min-height: 40rem;
    }

    .min-height-4xl {
        min-height: 45rem;
    }

    .max-height-xl {
        max-height: 30rem;
    }

    .max-height-2xl {
        max-height: 35rem;
    }

    .max-height-3xl {
        max-height: 40rem;
    }

    .max-height-4xl {
        max-height: 45rem;
    }

    .max-width-xs {
        max-width: 12.5rem;
    }

    .word-spacing-xs {
        word-spacing: -0.1rem;
    }

    .hyphens-auto {
        hyphens: auto;
    }

    .shadow-custom {
        box-shadow: 5px 5px 10px var(--color-gray-400);
    }

    .bg-box-primary {
        background-image: linear-gradient(135deg, #fbf4ec 0%, #e2d1c3 100%);
    }

    .bg-box-secondary {
        background-image: linear-gradient(135deg, #eaefea 0%, #c1dfc4 100%);
    }

    .bg-box-tertiary {
        background-image: linear-gradient(135deg, #e7f0fd 0%, #accbee 100%);
    }
}