/*
inspired by https://zellwk.com/blog/viewport-based-typography/
*/

html {
  font-size: 0.75px;
}
@media (min-width: 400px) {
	html {
		font-size: calc( 0.75px + (1 - 0.75) * (100vw - 400px) / (1920 - 400) );
	}
}
@media (min-width: 1920px) {
	html {
		font-size: calc(1px);
	}
}
body {
  font-size:16rem; /* base: corresponds to 16px at 1920 */
}