$font-size-small: 10rem;
$font-size-base: 16rem;
$font-size-big: 26rem;
$font-size-biggest: 40rem;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #5d5b5b;
$color-greenlight: #6ccbb8;
$color-greendark: #1b7593;
$color-greenlight-opaque: rgba(108, 203, 184, 0.95);
$color-greendark-opaque: rgba(27, 117, 147, 0.95);
$color-orangelight: #fecc1c;
$color-orangedark: #fecc1c;

$space: 40rem;
$border-radius: 5rem;
$metabar-height: 40rem;

$breakpoint-big: 1100px;
$breakpoint-small: 700px;