@media print
{
	@page {
	  size: A4 portrait;
	  margin: 1cm 1cm;
	}
	html, body {
		padding:0;
		margin:0;
	}
	body {
		background-color:red;
	}
	.page-break {
	    page-break-before: always;
	}
	.avoid-break {
	    page-break-inside: avoid;
	}
}