/*
inspired by https://zellwk.com/blog/viewport-based-typography/
*/

$rem_font_size_small: 0.6;
$rem_breakpoint_small: 450;
$rem_font_size_big: 1;
$rem_breakpoint_big: 1920;

/* 0px-750px: 1rem = 0.4px */
html
{
    font-size: #{$rem_font_size_small}px;
}

/* 750px-1920px: 0.4px < 1rem < 1px */
@media( min-width: #{$rem_breakpoint_small}px )
{
    html
    {
        font-size: calc( #{$rem_font_size_small}px + (#{$rem_font_size_big} - #{$rem_font_size_small}) * (100vw - #{$rem_breakpoint_small}px) / (#{$rem_breakpoint_big} - #{$rem_breakpoint_small}) );
    }
}

/* 1920px-above: 1rem = 1px */
@media( min-width: #{$rem_breakpoint_big}px )
{
    html
    {
        font-size: calc( #{$rem_font_size_big}px );
    }
}

/* set the base font size to e.g. 16rem */
body
{
    font-size: $font-size-small;
}