$font-size-small: 16rem;
$font-size-medium: 26rem;
$font-size-big: 40rem;
$font-size-biggest: 60rem;
$padding: 30px;
$breakpoint: 800px;

$header-height: 5vw;
$color-grey: #5D5B5B;
$color-greenlight: #6ccbb8;
$color-greendark: #1b7593;
$color-greenlight-opaque: rgba(108, 203, 184, 0.95);
$color-greendark-opaque: rgba(27, 117, 147, 0.95);
$color-orangelight: #FECC1C;
$color-orangedark: #FECC1C;
$base-font-size: 20rem;