/* fonts */
@import '../_basic/_assorted/_fonts';

/* colors */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #e20b31;
}

/* core */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities */
@layer utilities {
    .scrollbar {
        scrollbar-color: var(--color-black) var(--color-white);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--color-white);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-black);
        }
    }
    .selection-color,
    .selection-color * {
        ::selection {
            background: var(--color-black);
            color: var(--color-white);
        }
        ::-moz-selection {
            background: var(--color-black);
            color: var(--color-white);
        }
        ::-webkit-selection {
            background: var(--color-black);
            color: var(--color-white);
        }
    }
    .responsive-typography {
        /* generated with https://clamp.font-size.app/ (min: 320px / 8px, max: 7680px / 54px) */
        font-size: clamp(0.5rem, 0.375rem + 0.625vw, 3.375rem);
    }
    .responsive-typography_legacy {
        $rem_font_size_small: 8;
        $rem_breakpoint_small: 320;
        $rem_font_size_big: 18;
        $rem_breakpoint_big: 1920;

        font-size: #{$rem_font_size_small}px;

        @media ( min-width: #{$rem_breakpoint_small}px ) {
            & {
                font-size: calc(
                    #{$rem_font_size_small}px + #{$rem_font_size_big - $rem_font_size_small} * (
                            100vw - #{$rem_breakpoint_small}px
                        ) / #{$rem_breakpoint_big - $rem_breakpoint_small}
                );
            }
        }
        @media ( min-width: #{$rem_breakpoint_big}px ) {
            & {
                font-size: calc(#{$rem_font_size_big}px);
            }
        }
    }
    .hyphenate {
        hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;

        word-wrap: break-word;
        overflow-wrap: break-word;

        hyphenate-limit-chars: 10 3 4;
        -ms-hyphenate-limit-chars: 10 3 4;
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 4;
    }
}
