/* fonts */
@import '../_assorted/_fonts';

/* colors */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #e20b31;
}

/* core */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities */
@layer utilities {
    .scrollbar {
        scrollbar-color: var(--color-black) var(--color-white);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--color-white);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-black);
        }
    }
    .selection-color * {
        ::selection {
            background: var(--color-black);
            color: var(--color-white);
        }
        ::-moz-selection {
            background: var(--color-black);
            color: var(--color-white);
        }
        ::-webkit-selection {
            background: var(--color-black);
            color: var(--color-white);
        }
    }
    .responsive-typography {
        $rem_font_size_small: 8;
        $rem_breakpoint_small: 320;
        $rem_font_size_big: 18;
        $rem_breakpoint_big: 1920;

        font-size: #{$rem_font_size_small}px;

        @media ( min-width: #{$rem_breakpoint_small}px ) {
            & {
                font-size: calc(
                    #{$rem_font_size_small}px + #{$rem_font_size_big - $rem_font_size_small} * (
                            100vw - #{$rem_breakpoint_small}px
                        ) / #{$rem_breakpoint_big - $rem_breakpoint_small}
                );
            }
        }
        @media ( min-width: #{$rem_breakpoint_big}px ) {
            & {
                font-size: calc(#{$rem_font_size_big}px);
            }
        }
    }
}
