/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');*/

@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-thin.woff2') format('woff2'), url('_fonts/font-thin.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-thin.woff2') format('woff2'), url('_fonts/font-thin.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-thin.woff2') format('woff2'), url('_fonts/font-thin.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-regular.woff2') format('woff2'), url('_fonts/font-regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400; /* same as "normal" */
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-regular.woff2') format('woff2'), url('_fonts/font-regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-bold.woff2') format('woff2'), url('_fonts/font-bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-bold.woff2') format('woff2'), url('_fonts/font-bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 700; /* same as bold */
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-bold.woff2') format('woff2'), url('_fonts/font-bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'common-font-family-name';
    src: url('_fonts/font-bold.woff2') format('woff2'), url('_fonts/font-bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 900;
}

html,
body,
button,
input,
select,
textarea,
code {
    font-family: 'common-font-family-name', sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin font-heading {
    font-family: 'common-font-family-name', sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'common-font-family-name';
}
